
        /* Afficher les options lorsqu'elles sont sélectionnées */
        .lang-menu:hover .lang-options {
            display: block;
        }
        .actualite{
            background-color: rgb(253,245,247);
            height: 450px;
            width: fit-content;
            padding-left: 30%;
            display: flex;
            padding-top: 15px;
            padding-right: 30%;
        }
        .affiche{
            background-color: rgba(253, 245, 247, 0.897);
            height: 400px;
            width: 350px;
            background-color: bisque;
            border-radius: 30px;
            margin-top: 10px;
        }
        h2{
            font-weight: bold;
            color: rgb(212, 18, 66);
        }
        .texte{
            font-family: "Arial", sans-serif; 
            width: 420px;
            padding-left: 55px;
            font-size: 18px;
        }