.toolbar{
    display: flex;
    align-items: center;
    background-color: rgb(255,255,255);
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 1px;
}
.nav-bar{
    display: flex;
    margin: 5px;
    align-items: center;rgb(255,255,255)
}
.button-navbar{
    display: flex;
    margin-left: 110px;
}
a{
    margin: 50px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
li{
    list-style: none;
}
.button{
    margin-left: 50px;
    background-color: rgb(206,0,51);
    color: white;
    height: 40px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: none; 
}

        /* Style pour le conteneur du menu déroulant */
        .lang-menu {
            position: relative;
            display: inline-block;
        }

        /* Style pour le bouton du menu déroulant */
        .lang-button {
            padding: 10px;
            margin-left: 100px;
            border-radius: 5px;
            cursor: pointer;
        }

        /* Style pour la flèche du menu déroulant */
        .arrow-down {
            border: solid rgb(206,0,51);
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
            transition: transform 0.3s ease-in-out;
        }

        /* Style pour les options du menu déroulant */
        .lang-options {
            position: absolute;
            top: 100%;
            display: none;
            z-index: 1;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;

        }

        /* Style pour chaque option du menu déroulant */
        .lang-option {
            padding: 5px;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out;
        }

        /* Style pour mettre en surbrillance l'option survolée */
        .lang-option:hover {
            background-color: #f2f2f2;
        }

        /* Afficher les options lorsqu'elles sont sélectionnées */
        .lang-menu:hover .lang-options {
            display: block;
        }
        .actualite{
            background-color: rgb(253,245,247);
            height: 450px;
            width: fit-content;
            padding-left: 30%;
            display: flex;
            padding-top: 15px;
            padding-right: 30%;
        }
        .affiche{
            background-color: rgba(253, 245, 247, 0.897);
            height: 400px;
            width: 350px;
            background-color: bisque;
            border-radius: 30px;
            margin-top: 10px;
        }
        h2{
            font-weight: bold;
            color: rgb(212, 18, 66);
        }
        .texte{
            font-family: "Arial", sans-serif; 
            width: 420px;
            padding-left: 55px;
            font-size: 18px;
        }